.container
  .jumbotron
    h1 TrainingCenter
    p Welcome to the amazing tranining center! 

  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")